<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="./static/img/apple-icon.png">
  <link rel="icon" type="image/png" href="./static/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Weather Report - Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="./static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="./static/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="./static/css/style2.css" rel="stylesheet" />
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
</head>


<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="/" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="./static/img/logo-small.png">
          </div>
        </a>
        <a href="/" class="simple-text logo-normal">
          Weather Tool
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/">
              <i class="nc-icon nc-bank"></i>
              <p>Introduction</p>
            </a>
          </li>
          <li class="active ">
            <a href="/dashboard">
              <i class="nc-icon nc-layout-11"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="/rawdata">
              <i class="nc-icon nc-single-copy-04"></i>
              <p>Raw Data</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#">Weather Report</a>
          </div>
          <!-- Following are search bar and notification toggle -->
          <div class="well">
            <select id="selCity"  onchange="city_changed()"></select>
          </div>
        </div>
      </nav>

      
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <!-- City and sunrise time Card-->
          <div class= "col-lg-4 col-md-4 col-sm-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Day Light Hours</h5>
                <p class="card-category">Sunrise and Sunset</p>
              </div>
              <div class="card-body ">
                <div id="sun_light" style="height: 60px;">
                  <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
              </div>
            </div>
        </div>

          <!-- Wind speed description -->
          <div class= "col-lg-4 col-md-4 col-sm-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Wind Speed</h5>
              </div>
              <div class="card-body ">
                <div class="well">
                  <select id="speed_unit" onchange="wind_speed_unit_changed()">
                    <option value="m/s">m/s</option>
                    <option value="km/h">km/h</option>
                    <option value="mph">mph</option>
                  </select>
                </div>
                <br/>
                <div id="wind" style="height: 80px" >
                  <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Temperature description-->
          <div class= "col-lg-4 col-md-4 col-sm-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Tempurature</h5>
              </div>
              <div class="card-body ">
                <div class="well">
                  <select id="tempurature_unit" onchange="tempurature_unit_changed()">
                    <option value="Kelvin">Kelvin</option>
                    <option value="Celcius">Celcius</option>
                    <option value="Fahrenheit">Fahrenheit</option>
                  </select>
                  </select>
                </div>
                <br/>
                <div id="tempurature" style="height: 160px">
                  <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Pressure -->
          <div class= "col-lg-4 col-md-4 col-sm-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Pressure</h5>
                <p class="card-category">Air Pressure in Hpa</p>
              </div>
              <div class="card-body ">
                <div id="pressure" style="height: 80px">
                  <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Humidity-->
          <div class= "col-lg-4 col-md-4 col-sm-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Humidity</h5>
                <p class="card-category">Humidity in Persentage</p>
              </div>
              <div class="card-body ">
                <div id="humidity" style="height: 80px">
                  <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="./static/js/core/jquery.min.js"></script>
  <script src="./static/js/core/popper.min.js"></script>
  <script src="./static/js/core/bootstrap.min.js"></script>
  <script src="./static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Chart JS -->
  <!-- <script src="./static/js/plugins/chartjs.min.js"></script> -->
  <!--  Notifications Plugin    -->
  <script src="./static/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="./static/js/paper-dashboard.js" type="text/javascript"></script>
  <!-- D3 -->
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <!-- API key -->
  <!-- <script type="text/javascript" src="../static/js/config.js"></script> -->
  <!-- Leaflet JS -->
  <!-- <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script> -->
  <!-- Event Lister Code **NEED TO ADD** -->
  <!-- <script type="text/javascript" src="../static/js/optionChanged.js"></script> -->
  <!-- Plotly plugin-->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- State Lookup tabel -->
  <!-- <script type="text/javascript" src="../static/js/stateLookUp.js"></script> -->
  
  <!-- app.js -->
  <script type="text/javascript" src="../static/js/dashboard.js"></script>

  <!-- Summary  -->
  <!-- <script type="text/javascript" src="../static/js/summary.js"></script> -->
  <!-- Bubble JS -->
  <!-- <script type="text/javascript" src="../static/js/bubble.js"></script> -->

  <!-- Bar Chart JS -->
  <!-- <script type="text/javascript" src="../static/js/bar.js"></script> -->

  <!-- Heat Map JS -->
  <!-- <script type="text/javascript" src="../static/js/heatmap.js"></script> -->
  <!-- Leaflet heatmap plugin *MUST BE AFTER HEATMAP JS FILE** -->
  <!-- <script type="text/javascript" src="../static/js/leaflet-heat.js"></script> -->

  <!-- Gauge JS -->
  <!-- <script type="text/javascript" src="../static/js/gauge.js"></script> -->

  
</body>

</html>
